@model Labo.Validation.Prototype.UI.Models.CustomerInsertViewModel

@{
    ViewBag.Title = "Customer Insert";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Insert</h2>
<p>Server side validation test.</p>
@using (Html.BeginForm("Insert", "Customer"))
{
    Html.EnableClientValidation(false);
    
    @Html.EditorForModel()

    <br/>
    <input type="submit" value="Save"/>
}
